### Crear Managed Table en el Schema gold

- Usar JOIN en las tablas "clientes" y "detalles" para obtener los "ingresos por cliente"

In [0]:
DROP TABLE IF EXISTS telco_dev.gold.ingreso_por_cliente;
CREATE TABLE IF NOT EXISTS telco_dev.gold.ingreso_por_cliente
AS
  SELECT C.nombre_completo, SUM(D.precio_mensual) AS ingreso
  FROM telco_dev.silver.clientes AS C
  INNER JOIN telco_dev.silver.detalles AS D
  ON C.cliente_id = D.cliente_id
  GROUP BY 1 -- nombre_completo
  ORDER BY 2 DESC; -- ingreso

In [0]:
SELECT * FROM telco_dev.gold.ingreso_por_cliente;